*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-footer:#DBFFAE;
    --color-link:000;
}


.footer{
    background-color: var(--bg-footer);
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.logo-loja img{
    width: 5em;
    margin-top: 10px;
}

.navegation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navegation a{
    text-decoration: none;
    color: var(--color-link);
}

@media(max-width: 600px){
    .footer{
        flex-direction: column;
    }

    .logo-loja{
        text-align: center;
    }
    .navegation{
        flex-direction: column;
        margin-bottom: 20px;
    }
}